.bg_form {
  margin: 0;
  padding: 0;
  background: linear-gradient(#141e30, #243b55);
  height: 100vh;
}

.login_box {
  padding: 40px;
  background: #212529;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
}

.login_box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: orange;
  text-align: center;
  font-size: 22px;
}

.login_box .user_box {
  position: relative;
}

.login_box .user_box input {
  width: 100%;
  font-size: 14px;
  line-height: 3rem;
  color: #fff;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login_box .user_box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login_box .user_box input:focus~label,
.login_box .user_box input:valid~label {
  top: -14px;
  left: 0;
  color: orange;
  font-size: 12px;
}

.form_submit {
  padding: 6px;
  background: orange;
  font-weight: 600;
}