.modal-content {
    border: none !important;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 123;
    background: #000;
    font-size: 30px;
    border-radius: 50%;
    border: 1px solid rgb(255, 217, 0);
    padding: 3px 8px;
    cursor: pointer;
    font-size: 25px;
    transition: all 0.5s;
    color: rgb(255, 217, 0);
    transform: translate3d(40%, -50%, 0);
}
.modal-close:hover{
opacity: 0.7;
}

.modal-body {
    padding: 0px !important;
}