.form_user {
}
.form_user-popup {
    box-shadow: 0px 0px 2px #ababab;
    border-radius: 20px;
    padding: 10px 0;
}
.form_user-popup h6 {
    padding: 20px;
    cursor: pointer;
    &:hover {
        background-color: #ababab1d;
    }
    &:first-child {
        font-weight: 600;
        font-size: 18px;
    }
    font-size: 16px;
}

.form_user-icon {
    margin-bottom: 10px;
    box-shadow: 0px 0px 2px #ababab;
    padding: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 20px;

    i:first-child {
        margin-right: 10px;
    }
    i {
        font-size: 25px;
    }
    &:hover {
        box-shadow: 0px 0px 10px #ababab;
    }
    img {
        border-radius: 50%;
    }
}


